[2019-06-19 17:43] ralanlittle opened #1 "Define the specification for how to define and ship a Kabanero collection"

[2019-06-19 19:46] ralanlittle opened #2 "Deliver the Collection for Java MicroProfile (Open Liberty)"

[2019-06-19 19:49] ralanlittle opened #3 "Deliver the Collection for Java Spring Boot (Tomcat)"

[2019-06-19 20:00] ralanlittle opened #4 "Deliver the Collection for Node.js (Express)"

[2019-06-19 20:01] ralanlittle opened #5 "Deliver the Collection for Knative Serverless"

[2019-06-19 20:03] ralanlittle opened #6 "Deliver the Collection for Node.js (Loopback)"

[2019-06-19 20:25] ralanlittle opened #7 "Deliver the Collection for Swift (Kitura)"

[2019-06-19 21:25] ralanlittle opened #8 "Champ can find and install new featured collections available publicly."

[2019-06-19 21:26] ralanlittle opened #9 "Jane can be on-boarded to the team environment for the Collection."

[2019-06-19 21:27] ralanlittle opened #10 "Champ can create a new collection from scratch."

[2019-06-19 22:14] ralanlittle opened #11 "Champ can edit and customize an existing collection in his private Hub, and configure the settings and access for Jane."

[2019-06-20 13:08] ralanlittle opened #12 "Champ can relate events from events generated in jane's workflow to build actions"

[2019-06-20 13:14] ralanlittle opened #13 "Champ can maintain collections"

[2019-06-20 13:16] ralanlittle opened #14 "Updates to a collection, causes work to be placed on Jane's work queue, and we will automate what we can of it"

[2019-06-20 17:33] ralanlittle opened #15 "Jane can create a new Kabanero project under the Collection using Codewind."

[2019-06-20 17:34] ralanlittle opened #16 "Jane can create a new Kabanero project under the collection using Eclipse Che."

[2019-06-20 17:34] ralanlittle opened #17 "Jane can use the CLI for creating and managing a Kabanero project under the collection."

[2019-06-20 17:35] ralanlittle opened #18 "Jane can import existing application source code into an Appsody project, associating it with an Appsody stack. Appsody Requirement."

[2019-06-20 17:36] ralanlittle opened #19 "Jane can import existing application source code into a Kabanero project, associating it with a Kabanero Collection."

[2019-06-20 17:36] ralanlittle opened #20 "Jane makes a change to git and it's pushed through the pipeline."

[2019-06-20 17:37] ralanlittle opened #21 "Jane is able to view the documentation for the collection that she is using."

[2019-06-20 17:37] ralanlittle opened #22 "Jane can get to Application Navigator."

[2019-06-20 17:38] ralanlittle opened #23 "Jane views the results of the pipeline activity through the Tekton dashboard. Provide a How-To guide."

[2019-06-20 17:39] ralanlittle opened #24 "Jane's pipeline gets setup automatically"

[2019-06-20 17:40] ralanlittle opened #25 "Jane uses the development environment that has been set up for her, based on the repository of collections curated by Champ."

[2019-07-10 18:19] dianak2016 commented on #12
Close as not applicable

[2019-07-10 18:19] #12 closed, assigned to nobody

[2019-07-16 20:39] marikaj123 commented on #3
Work will be done by August 12.

[2019-07-16 20:41] marikaj123 commented on #6
Work will be done by August 12.

[2019-07-16 20:42] marikaj123 commented on #7
Work will be done by August 12.

[2019-07-16 20:43] marikaj123 commented on #9
Work will be done by August 12.

[2019-07-16 20:46] marikaj123 commented on #15
Work will be done by August 12.

[2019-07-16 20:50] marikaj123 commented on #22
Work will be done by August 12.

[2019-07-16 20:53] marikaj123 commented on #25
Work will be done by August 12.

[2019-07-19 18:46] rhuss opened #26 "Question: Roadmap of kabanero-collections"
I read your [specifications.md](https://github.com/kabanero-io/kabanero-collection/blob/master/specification.md) and it looks very interesting.

It looks like there is not much to try out yet (except some sample descriptors). Also, the client seems to be only a skeleton until now.

Is there already something like a prototype which can be tested ? Or kind of a roadmap for kabanero-collections ?

[2019-07-24 18:11] jgawor opened #27 "Offline repositories and collections"
Ability to easily offline the repository / collections. For example, use relative urls, etc.

[2019-07-24 18:17] jgawor opened #28 "Provide tool to re-create collection index"
Target repository has changed. URLs need to be updated.

[2019-07-26 12:10] ralanlittle opened #30 "The Kabanero collection repo, should have a readme"
The readme should be a description of what is a collection, how this repo is layed out.

[2019-07-30 12:45] ianpartridge commented on #6
Depends on https://github.com/appsody/stacks/pull/95

[2019-07-30 12:56] stephenkinder commented on #26
Hi @rhuss, I apologize for the delay in responding to your question.  We should have the website updated with at least some more detail on collections, an example operator + collection activation.  This first drop will just be demonstrative of some of the concepts for the project.  I will leave this question open until I can point you at an updated website.

[2019-07-30 13:00] stephenkinder commented on #2
The initial default collection for Java-MicroProfile has been contributed via an issue in kabanero-operator.

[2019-07-30 13:00] #2 closed, assigned to nobody

[2019-07-30 14:43] stephenkinder opened #34 "Add the Kabanero node (express) appsody stack to the Kabanero featured collection."
Deliver the initial featured collection for node express.  We need to ensure that the operator can install the collection, and test that the manual pipeline similar to the Java-MicroProfile example here: https://github.com/kabanero-io/docs/blob/master/ref/scripts/appsody-tekton-example-manual-run.sh.

[2019-07-30 14:46] stephenkinder opened #35 "Add the Kabanero Java Spring Boot (Tomcat) appsody stack to the Kabanero featured collection."
The Kabanero default collection does not yet contain the Java Spring Boot stack.

To validate the collection is correctly installed, we need to perform the same example build/deploy steps as demonstrated in this script: https://github.com/kabanero-io/docs/blob/master/ref/scripts/appsody-tekton-example-manual-run.sh.

[2019-07-30 14:48] stephenkinder opened #36 "Add the Kabanero Node.js (Loopback) appsody stack to the Kabanero featured collection."
The Kabanero default collection does not yet contain the Java Spring Boot stack.

To validate the collection is correctly installed, we need to perform the same example build/deploy steps as demonstrated in this script: https://github.com/kabanero-io/docs/blob/master/ref/scripts/appsody-tekton-example-manual-run.sh.

[2019-07-30 16:52] stephenkinder commented on #17
We decided that Jane did not have a CLI for now.  Closing this epic for now.

[2019-07-30 16:52] #17 closed, assigned to nobody

[2019-07-31 16:51] stephenkinder commented on #26
An example collection was just released ... it demonstrates a collection containing a Java-MicroProfile stack.  We'll be rapidly added additional feature collections over the coming iterations.

[2019-07-31 16:51] #26 closed, assigned to stephenkinder

[2019-08-01 10:02] ianpartridge opened #38 "Migrate the Microprofile collection into the new structure"
The Microprofile collection needs to contain the pipelines and deploy operator, just like the other collections.

[2019-08-01 15:22] Jhschube commented on #15
~This issue is currently blocked by https://github.com/kabanero-io/appsodyExtension/pull/28 (Which is in turn blocked by a separate PR)~

[2019-08-05 08:09] groeges opened #40 "Define the structure for the new index.yaml and collection.yaml"
With the collections repo being forked from the appsody/stacks repo we need to utilise the build process and file structure that that repo is using.

We need to add the collection information (pipelines, images, dashboards, operators, etc) into the index.yaml file in a way that will not cause the appsody application (cli) from being able to work.

The appsody build process generates the index.yaml

[2019-08-05 08:16] groeges commented on #40
An example of the collection.yaml is:
[code]
Any elements in the collection.yaml will override those defined in the stack.yaml.
The  details for the pipelines, dashboards, operators will be generated from the files in the git repo.

[2019-08-05 08:19] groeges opened #41 "Define the Kabanero Collection build and release process"
Need to define how the Kabanero Collection information is to be built and released.
There is a need to piggy back off the appsody/stacks build process and to be able to release a collection in a manner that it can be easily used by all the downstream tooling.

[2019-08-05 08:29] groeges opened #42 "Generate build scripts to build kabanero collection data"
The build scripts will be called from extension points within the appsody build scripts.
We will need to work with the Appsody team to add these extension points in the right places within their scripts.

[2019-08-05 08:46] groeges commented on #40
A example of the generated index.yaml is:
[code]

[2019-08-05 17:11] jgawor commented on #27
The `collectionUrls` may need to point to a released archive.

[2019-08-05 17:18] jgawor commented on #27
`collection.yaml` needs to use relative urls.

[2019-08-05 17:29] jgawor commented on #27
And use releases instead of raw links.

[2019-08-06 13:45] kyleschlosser commented on #40
@groeges I would suggest that the collection should be slightly more abstract that what you have here. Since you have incorporated the concrete types for pipelines, dashboards, etc directly into the V2 schema, then presumably to add a new asset type, you will need to introduce a new version of the schema or a repository variant as we have done between Appsody and Kabanero.

Note that this means th

[2019-08-06 14:01] dacleyra opened #44 "Serviceability: build-step modify-yaml & install-knative should print if YAMLFILE not found"
Pick up result of
https://github.com/appsody/tekton-example/issues/19

[2019-08-06 14:26] ianpartridge commented on #40
Thanks @kyleschlosser that's interesting... Can you describe how we could make the format more abstract?

[2019-08-06 14:29] stephenkinder commented on #40
I think this example makes the "version" of the node.js stack ambiguous.  Is the semver number part of the document name?  How the semver of the stack is formulated and understood by Appsody and Kabanero should be spelled out in the example. for instance, where did the 0.2.1 come about in the built yaml?

[2019-08-06 15:44] kyleschlosser commented on #40
@ianpartridge perhaps the simplest thing would be to have an abstract container for the resource references rather than a concrete container.

For example, instead of:
[code]

Use:
[code]

[2019-08-06 15:57] stephenkinder commented on #40
I'm ok with the abstract name as long as the operator can constrain the valid resources that should be applied.  Just having the ability to blindly apply resources might be a security concern.

[2019-08-06 16:30] marikaj123 commented on #1
This Epic will provide the infrastructure for other collections to build on.

[2019-08-06 16:33] marikaj123 commented on #27
Is this issue opened for the collection Kabanero team?

[2019-08-06 16:33] marikaj123 commented on #28
Is this issue opened for the collection Kabanero team?

[2019-08-06 16:39] marikaj123 commented on #41
Ian will be creating child issues for this Epic.
The team is working towards deploying Apsoddy to OpenShift.

[2019-08-06 17:51] kyleschlosser commented on #40
The security concern is valid, but irrespective of the modeling. For example, whether we model the pipelines using a `pipeline` element or using `resource-type: pipeline` does not change the fact that the reference resource might be malicious. The security concern must be addressed through prevenance, RBAC, etc.

[2019-08-06 18:31] marikaj123 commented on #44
Summary of the work:
The collection defines the pipeline
At the end of the pipeline, it applies YAMLFILE to deploy the application
This YAMLFILE does not exist by default from 'appsody init' and is a file the end user adds to the app repo, or places in a separate repo with a pointer. If the file is not found by the pipeline, there is not a useful message in the log about why it failed.
The issue i

[2019-08-07 10:39] gireeshpunathil opened #45 "Ability to deploy an Appsody app through a Tekton pipeline to OpenShift"
Abandoning OKD route after getting a word from John Collier (that he himself was never able to get that script (https://github.ibm.com/John-J-Collier/okd-installer/) working unfortunately) and raising it with the origin project (https://github.com/openshift/openshift-ansible/issues/11800), I am now using Docker Desktop to progress on the issue.

- Clone https://github.com/appsody/tekton-example
-

[2019-08-07 12:50] gireeshpunathil commented on #45
found the root cause of the issue with insecure registry: `localhost` does not resolve to the real host, within the container.

Supplying the IP address gets past the first issue. (however, host's IP address can change when switching networks, only a concern in the development phase)

The pipeline crosses the `assemble-extract-step`, and `build-push-step` successfully, but now fails in the `mage-d

[2019-08-07 13:08] gireeshpunathil commented on #45
According to the `README`, the pipeline expects `appsody-service.yaml` as the deployment manifest of the modified project that it can apply `kubectl` against.

The manifest is this one: https://github.com/chilanti/appsody-test-build/blob/master/appsody-service.yaml and according the Knative API serving spec https://github.com/knative/serving/blob/master/docs/spec/spec.md#Service , this is a valid

[2019-08-07 13:59] stephenkinder commented on #40
I wonder if a better index structure would be to not embed the kabanero collection information in the appsody stack definition.  Appsody itself does not care about the kabanero collection info.  Why wouldn't the pipelines, operators, etc. be specified via the `collection.yaml`.   With the indirection, you could list the appsody stacks the pipelines apply to w/o having to repeat the pipelines thems

[2019-08-08 02:15] marikaj123 commented on #36
@stephenkinder - The fix will be delivered by Aug-16.

[2019-08-08 02:20] marikaj123 commented on #6
@ianpartridge - What date the fix will be available for us?

[2019-08-08 02:23] marikaj123 commented on #15
@Jhschube - What date do we need the fix to become available for us in order to help us complete the work on time?

[2019-08-08 04:19] gireeshpunathil commented on #45
attempting to make use of `buildah` in the pipeline. Modified the `appsody-docker` image definition thus:

[code]

The image was built fine, but the pipeline run complained:
`[appsody-build : assemble-extract-step] /setupAndRunExtract.sh: line 43: buildah: command not found`

digging on it.

[2019-08-08 05:21] pushkarnk commented on #45
I was able to get the pipeline running with a local docker registry. Attaching the tkn log.
[tkn-log-success.txt](https://github.com/kabanero-io/kabanero-collection/files/3479957/tkn-log-success.txt)

[2019-08-08 06:02] gireeshpunathil commented on #45
so for posterity, re: https://github.com/kabanero-io/kabanero-collection/issues/45#issuecomment-519088738 the issue got resolved (courtesy: @pushkarnk ) by making this change to the `appsody-service.yaml` in the `appsody-test-build` project (btw the error message is misleading).

[code]

[2019-08-08 06:04] pushkarnk commented on #45
I think `imagePullPolicy: IfNotPresent` will be better than `Always`

[2019-08-08 06:07] gireeshpunathil commented on #45
now: `buildah`.

The first valid error come from this step:
`buildah pull appsody/nodejs-express:0.2`:

[code]

I have fed my docker credentials to the docker desktop app, and have shutdown the local registry fully. But however, looks like the buildah is attempting to pull from `localhost`. Trying to figure out what is going on.

[2019-08-08 06:24] gireeshpunathil commented on #45
Had to do this hack according to https://github.com/containers/buildah/blob/master/troubleshooting.md

[code]

and with that things do move.

[2019-08-08 08:29] ianpartridge commented on #6
First, the Appsody stack for Loopback needs to be delivered.  Then, that needs to be packaged into the Kabanero collection format.  The Kabanero collection format is still not agreed by the architects but we hope to make progress on that today.

[2019-08-08 09:32] seabaylea commented on #45
If you use the provided buildah docker image from RedHat you don't need to build you own, and its already pre-configured.

Here's the steps I previously sent by email:
[code]
That does a bunch of manual steps, but it does roughly what the same as the existing extract step.

[2019-08-08 11:26] ianpartridge commented on #25
Rewording of title agreed with Alan and Steve K.

[2019-08-08 11:29] ianpartridge commented on #9
Confirmed by Alan that this will be owned by CLI team, and will involve Champ being able to trigger an on-boarding email to Jane, based on her GitHub id.

[2019-08-08 11:34] ianpartridge commented on #22
Should be owned by Chris Vignola's team.

[2019-08-08 15:54] groeges commented on #42
Build scripts have been added to include the collection information into the index.yaml file.

Working on getting travis to run the build and to generate a release based on a tagged commit in github.

[2019-08-08 16:23] marikaj123 commented on #6
Ian, according to the Appsody team, "The Loopback stack was being created by the Loopback team and not the Appsody team itself. ", do we need to remove the label 'blockedBy-Appsody'?

[2019-08-08 18:26] marikaj123 commented on #6
PR created by LoopBack team: https://github.com/appsody/stacks/pull/95.

[2019-08-08 18:39] pushkarnk commented on #45
The authorisation problems with pushing newly built images to docker hub seem to be related to kaniko. I guess we are affected by this: https://github.com/GoogleContainerTools/kaniko/issues/641

I tried kaniko v0.7.0 to v0.10.0 images. The authorisation issue comes up in v0.9.0 and v0.10.0. On v0.7.0 and v0.8.0 I see another issue.

[2019-08-09 04:33] pushkarnk commented on #45
Okay, I don't think we are facing this issue. I was able to get the push to docker hub working with:
 - As suggested by @seabaylea creating a basic auth secret and adding it to appsody-sa
[code]
 - Adding the DOCKER_CONFIG env var to the `build-push-step`
[code]

[2019-08-09 15:43] dianak2016 opened #46 "Delivery the collection for Spring & Liberty"

[2019-08-09 19:48] marikaj123 commented on #6
The LoopBack team is looking to deliver the required work and get it approved by the Appsody team by end of next week.  The Collection team will be able to complete the Epic and have it included in Kabanero after.

[2019-08-10 15:36] gireeshpunathil commented on #45
thanks @seabaylea for the clarification.

Right now I get something weird: The copied content is visible in the child container (buildah container) but as soon as it is exited, the parent mount does not show those data!

[code]

pipeline log:
[code]

this is not happening if I am logging into the buildah container from a physical box. So I am suspecting this has something to do with the double mou

[2019-08-12 15:37] ianpartridge commented on #40
I think we've agreed that for MVP we'll go with what we have. We can always change it in future if we want to.

[2019-08-12 15:37] #40 closed, assigned to groeges

[2019-08-12 15:38] ianpartridge commented on #1
We have the skeleton of how this will work now.

[2019-08-12 15:38] #1 closed, assigned to ianpartridge

[2019-08-12 15:47] marikaj123 commented on #35
Appsody stack does exit to create the application for the Spring Boot on Tomcat.
1- Need to build the collection for Spring on Tomcat.
2- Need to deliver the Tekton pipeline by the pipeline team.
3- Need to deliver the appsody operator to deploy it.

[2019-08-12 15:54] marikaj123 commented on #6
Appsody stack does exit to create the application for the Node js on LoopBack.
1- Need to build the collection for Node js on LoopBack.
2- Need to deliver the Tekton pipeline by the pipeline team.
3- Need to deliver the appsody operator to deploy it.

[2019-08-12 16:01] ianpartridge commented on #42
Closing as we have the basic scripts in place.

[2019-08-12 16:01] #42 closed, assigned to groeges

[2019-08-12 16:43] marikaj123 commented on #4
Appsody stack does exit to create the application for the Nodejs on Express.
1- Need to build the collection for Nodejs on Express.
2- Need to deliver the Tekton pipeline by the pipeline team.
3- Need to deliver the appsody operator to deploy it.

[2019-08-12 17:35] #7 closed, assigned to nobody

[2019-08-13 11:56] ianpartridge commented on #44
From the description above I don't believe that this will require any changes to the format/structure of the collections themselves?  Rather, the changes will be to the operator/pipeline?

If I am correct, shouldn't this issue be against a different repo?

[2019-08-13 11:57] ianpartridge commented on #28
I am closing this for now as it lacks a clear description of the problem and exactly what actions the collections team may be required to take. Given the highly distributed nature of our work this is vital.

[2019-08-13 11:57] #28 closed, assigned to nobody

[2019-08-13 11:57] ianpartridge commented on #28
(please reopen if you can provide some clarity)

[2019-08-13 12:00] ianpartridge commented on #27
I am closing this for now as it lacks a clear description of the problem and exactly what actions the collections team may be required to take. Given the highly distributed nature of our work this is vital. (please reopen if you can provide some clarity)

[2019-08-13 12:00] #27 closed, assigned to nobody

[2019-08-13 12:02] ianpartridge opened #47 "Filter out the Swift collection"
Currently, the published release of the collections include Swift.  As it has been decided that Swift will not be included in the initial release, we need to filter out all the Swift content from the release.

[2019-08-13 12:11] ianpartridge opened #48 "Doing a release of the collections should publish the images to Docker Hub"
- [x] Get Docker Hub credentials

- [x] Update the release scripts to do the `docker push` as appropriate

[2019-08-13 12:15] ianpartridge opened #49 "The release process needs to run in Travis CI"
Currently the "release" was done by hand.  We need it to run automatically in CI/CD through Travis.

- [x] Connect Travis up to the `collections` repo
- [x] Make the build run successfully and publish the assets to the GitHub release.

[2019-08-13 12:28] ianpartridge opened #50 "Deliver the initial set of collections"
Over-arching epic for the initial MVP release of collections.

[2019-08-13 12:28] gireeshpunathil commented on #45
moving on, I tried the same pipeline on minishift instance in Linux, and hit with an issue:

`tekton pipeline appsody-build failed: resource name may not be empty`

I guess we are suffering from https://github.com/tektoncd/pipeline/issues/1001 . Not sure whether https://github.com/tektoncd/pipeline/commit/cf2ecd56bcb73fa25118a280a2562a69b8957b83 is included in my minishift release. Will check ther

[2019-08-13 12:29] ianpartridge opened #51 "Write the README for the collections repo"

[2019-08-13 12:30] ianpartridge opened #52 "Only the "incubator" stacks should be included in the release"
We should not generate artifacts for "experimental" or "stable", yet.

[2019-08-13 12:32] ianpartridge commented on #45
Which "resource name" is it referring to?

[2019-08-13 12:33] ianpartridge commented on #51
@ralanlittle has made a start on this.

[2019-08-13 12:36] gireeshpunathil commented on #45
@ianpartridge - not sure from the abstract error message. But from the referenced issue, looks like it is either the `pipelineRef` in the PipelineRun (appsody-build-pipeline) or the `taskRef` in the Pipeline (appsody-build-task). I attached a `kind` attribute to both, but with no difference.

[2019-08-13 12:47] ianpartridge opened #53 "[Microprofile] The index.yaml contains incorrect maintainer"
The currently published GitHub release `index.yaml` says that @groeges owns the Microprofile collection.  This isn't correct, it should list whoever is in the Appsody stack.

[2019-08-13 12:48] ianpartridge commented on #45
OK, from what I've seen I don't think the diagnosis of tektoncd/pipeline#1001 is proven, so we should continue to investigate.

[2019-08-13 12:51] ianpartridge opened #54 "[Express] The collection should run on a UBI image"

[2019-08-13 12:52] ianpartridge opened #55 "[Loopback] The collection should run on a UBI image"

[2019-08-13 12:53] ianpartridge opened #56 "[Microprofile] The collection should run on a UBI image"

[2019-08-13 13:32] groeges commented on #53
@ianpartridge I know @groeges doesn't own the Microprofile collection and this will need to change. However we shouldn't just be using the same maintainers as are defined in the stack.yaml as the collection may be maintained by someone different.

For the moment we will use the maintainers from the stack.yaml, if there are no separate maintainers listed in the collection.yaml.

[2019-08-13 13:37] ianpartridge commented on #53
Yep that sounds good to me. Thanks.

[2019-08-13 13:56] groeges commented on #47
As part of the build process we have utilised an environment variable to exclude stacks from the build. The content of the EXCLUDED_STACKS environment variable will be a list of repo/stack elements separated by spaces which will define the stacks to exclude.
If we had done:
[code]
then when the build was run the `swift` and `nodejs` collections details would not be generated and these stacks would

[2019-08-13 14:01] groeges commented on #47
Resolved by: https://github.com/kabanero-io/collections/pull/5

[2019-08-13 14:43] arthurdm opened #57 "Add artifact to deploy Appsody Application Operator"
Each Collection will need an `app_cr.yaml` file that represents the minimal set of configuration needed to deploy the application image.

[code]

The field `REPLACE-NAME` should be modified to match the service's name (must be unique), and `REPLACE-IMAGE` should be modified to represent the full image path, such as `registry/imageName:imageTag`.

[2019-08-13 14:59] arthurdm commented on #57
Closing as we will add this at the stack level:  https://github.com/appsody/stacks/issues/171

[2019-08-13 14:59] #57 closed, assigned to nobody

[2019-08-13 15:50] groeges commented on #53
Resoled by https://github.com/kabanero-io/collections/pull/6

[2019-08-13 15:50] #53 closed, assigned to groeges

[2019-08-13 15:54] groeges commented on #52
The recent change in the upstream appsody/stacks  https://github.com/appsody/stacks/pull/150 for issue: https://github.com/appsody/appsody/issues/166 allows us to set an environment variable REPO_LIST that will contain the list of repos we want to process during the build.

If we therefore set REO_LIST="incubator" then this will only build the stacks in the `incubator` repo.

[2019-08-13 15:56] groeges commented on #52
In order to get these chnages we need to merge the upstream master branch in the appsody/stacks repo into our build-prototype branch in the kabanero-io/collections repo.

Am currently working on this but have a few merge conflicts at present.
Will merge as soon as these are resolved.

[2019-08-13 15:59] groeges commented on #47
With the code merged for this we need to ensure that there is an EXCLUDED_STACKS environment variable set as part of our build setup. This will need to have:
[code]

[2019-08-13 16:01] #47 closed, assigned to groeges

[2019-08-14 13:07] dacleyra commented on #44
My thought is that the bash executed here would be a little more complex and echo a useful message if the `find` fails, so that it is apparent in the logs

https://github.com/kabanero-io/kabanero-collection/blob/master/experimental/java-microprofile-0.2.1/appsody-build-task.yaml#L50

[2019-08-14 13:19] kaczyns commented on #44
I think this probably goes to the kabanero-pipelines rep, this file:
https://github.com/kabanero-io/kabanero-pipelines/blob/master/pipelines/tasks/appsody-build-task.yaml

[2019-08-14 14:19] marikaj123 commented on #23
Expecting team will provide the guide

[2019-08-15 11:12] groeges commented on #52
Upstream merge done. PR for this is: https://github.com/kabanero-io/collections/pull/7

[2019-08-15 11:13] groeges commented on #52
Setting the environment variable REO_LIST="incubator" allow us to only build the stacks in the incubator repo.

[2019-08-15 11:14] #52 closed, assigned to groeges

[2019-08-15 11:19] groeges commented on #48
The latest release.sh pulled in from the upstream appsody/stacks has code in it to push the docker images to dockerhub.

This needs a couple of environment variables to be set when we do the build. These are: DOCKER_PASSWORD, DOCKER_USERNAME and DOCKER_REGISTRY (which is set to "" to use dockerhub).

If these environment variables are set on Travis CI with the Kabanero Dockerhub credentials then t

[2019-08-15 11:32] ianpartridge commented on #48
I think we probably need a way to run the build without doing the `docker push`, kind of like a "dry run" mode?

[2019-08-15 17:15] groeges commented on #48
The build will run on a PR but will not do the release, which pushes the docker images, unless the commit is tagged. This means that we can do a build without the docker images being pushed.

[2019-08-17 05:24] jgawor commented on #49
A couple of additional concerns:
 * The build/release must use Python3 instead of Python2 (Python2 is EOL in January of 2020: https://www.python.org/dev/peps/pep-0373/)
 * The build/release must not exclusively rely on Travis. This is in consideration of enterprise users that may not have Travis available but still need to do their own builds and releases.

[2019-08-19 08:18] groeges commented on #48
A full release (v0.0.3) was created, including Github release and Docker images on the Kabanero Dockerhub, entirely by the automated Travis CI process.

This all worked OK, so closing this issue.

[2019-08-19 08:18] #48 closed, assigned to groeges

[2019-08-19 08:24] groeges commented on #49
@jgawor We are initially targeting using Travis CI for this release. We know we have to investigate a build / release process that doesn't include Travis CI for Enterprise uses. For this we are going to be looking at using Tekton pipelines to do this.

I saw your PR regarding Python3. Have commented in that PR that the core CI scripts come from Appsody/stacks repo. Suggest you get your PR into tha

[2019-08-19 12:50] ianpartridge commented on #49
Yep - we're going to use Travis CI for our public CI for the `collections` repo IBM publishes.

In the initial release, customers who fork that downstream will have to run the CI script by hand and drag+drop the release assets into a GitHub release that they manually create.

In future, we want to improve that experience by providing scripting that can drive the GitHub Releases API.  And we want t

[2019-08-19 16:00] marikaj123 commented on #6
Need to have the Appsody stack. Appsody some changes from LoopBack. Appsody work needs to complete by Wednesday for Collection to complete on time. As well, Collection needs to explore the UBI image piece of work.

[2019-08-19 20:12] stephenkinder opened #58 "Jane's Kabanero experience should likely involve pointing the Codewind and Appsody CLI to Kabanero Repo"
The current directions on the kabanero.io website do not show how to change the CLI to the default Kabanero Repository.

[2019-08-19 20:13] #58 closed, assigned to Jhschube

[2019-08-19 20:13] stephenkinder commented on #58
Issue moved to [kabanero-io/roadmap #61](https://github.com/kabanero-io/roadmap/issues/61) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-20 12:14] stephenkinder commented on #13
@ianpartridge I think we said this morning that the documentation for how to manually build a collection is going to be delivered this iteration.  If we can write down a rough run book for that the bringup team can help get that made into the documentation that we can link to from the website for Champ.

[2019-08-20 12:29] ianpartridge commented on #13
Yep we can create some basic doc around this.

[2019-08-21 14:34] marikaj123 commented on #6
The expected functionality implementation for this release was provided by the LoopBack team.  Waiting for a bug fix to be resolved: https://github.com/appsody/stacks/issues/212

[2019-08-21 20:06] kaczyns opened #59 "Error deploying node.js build pipeline"
The following file:
https://github.com/kabanero-io/collections/releases/download/v0.0.4/incubator.nodejs-express.v0.2.3.pipeline.default.tar.gz

contains a build pipeline that is missing the apiVersion at the top.  The operator gets the following error when trying to deploy it:
[code]

[2019-08-21 20:24] kvijai82 commented on #59
I am in the process of creating a PR to deliver new pipelines that should fix this amongst other things tonight hopefully.

[2019-08-22 02:00] jgawor opened #60 "Problem with collection release artifacts in GitHub Enterprise"
When using GitHub Enterprise (GHE) and attaching build artifacts to a release, the GitHub-based download URLs are protected by SAML. That breaks things like Appsody or Kabanero operator from reading the index.yaml files or other artifacts.

We need an alternative solution for publishing the release artifacts.

[2019-08-22 02:02] jgawor commented on #60
The https://github.com/appsody/stacks/pull/219 PR is a good step forward to address the issue. There are still pieces missing the satisfy the end-to-end customer scenario. That is, being able to deploy the build Docker image into the k8s cluster and being able to talk to it.

[2019-08-22 14:26] gireeshpunathil commented on #45
for the record:

able to circumvent the `tekton pipeline appsody-build failed: resource name may not be empty` - basically it was a bad error message from kubernetes, intended to mean the requested task cannot be executed with the current privilege!

`oc adm policy add-scc-to-user privileged system:serviceaccount:myproject:appsody-sa` and `securitycontext -> privileged: true` in the task definitio

[2019-08-22 14:27] gireeshpunathil commented on #45
output of `docker inspect` and `buildah inspect` differs in their structure: the former is an array of maps, while the later is a map (or map of maps). So the data type definitions should accommodate these based on the backend.

[2019-08-22 14:28] gireeshpunathil commented on #45
another challenge with buildah is visibility of the mounts. When `a` of the parent (with data in it) is mounted as `b` in the child, this is not visible in the host through `buildah mount` locations - despite applying many mount sub-options.

Raised an issue with container/buildah project to get more info on this.

Circumvention is to get into the container (where the mount is visible) and then pe

[2019-08-24 02:32] jgawor commented on #60
Opened another related issue: https://github.com/appsody/appsody/issues/229.

[2019-08-24 03:03] jgawor commented on #60
And another one: https://github.com/kabanero-io/kabanero-operator/issues/126

[2019-08-26 21:22] Jhschube commented on #15
closed as duplicate

[2019-08-26 21:22] #15 closed, assigned to Jhschube

[2019-08-27 07:15] groeges commented on #55
@ianpartridge Think this has already been done. Closing.

[2019-08-27 07:15] #55 closed, assigned to kilnerm

[2019-08-27 14:07] stephenkinder commented on #45
Adding the release 0.1 tag for now -- to triage.

[2019-08-27 15:07] marikaj123 commented on #45
This is related to the CRI-O Docker issue - OpenShift and Managed OpenShift support.

[2019-08-27 15:13] marikaj123 commented on #60
@jgawor - Jarek is providing https://github.com/kabanero-io/collections/pull/35 to fix this issue.  Collection team will merge upon agreement between Jarek and Erin.  Need to know from Jarek what other teams like operator may become impacted with this change.

[2019-08-28 04:30] gireeshpunathil commented on #45
Acknowledged.

[2019-08-28 11:43] ianpartridge commented on #51
We need to write the README for how todd sets up a new kabanero index in his company.

[code]

is the easy bit, he then needs to know how to drive the `/ci/build.sh` to generate the built collections.  Including what environment variables he needs etc.

[2019-08-28 15:54] groeges commented on #51
First pass at describing the build process for Collections is in the README.md (https://github.com/kabanero-io/collections/blob/master/README.md)

[2019-08-28 17:52] marikaj123 commented on #38
According to Ian, the feature requires certification.

[2019-08-28 17:52] marikaj123 commented on #41
According to Ian, the feature requires certification.

[2019-08-28 17:53] marikaj123 commented on #3
According to Ian, the feature requires certification.

[2019-08-28 17:56] marikaj123 commented on #50
According to Ian, the feature requires certification for the collections getting published for the release-0.1

[2019-08-29 09:35] gireeshpunathil commented on #45
In continuation with https://github.com/kabanero-io/kabanero-collection/issues/45#issuecomment-523930489 , the minishift testing revealed mixed result. When hosted in mac, windows and ubuntu, tests pass, but fails with rhel / centos.

We could not identify anything wrong in the extraction logic. Have raised an issue with `container/buildah` repo, and continuing with the investigation.

[2019-08-29 12:44] groeges commented on #59
@kaczyns Is this still an issue with the latest collections release: https://github.com/kabanero-io/collections/releases/latest

[2019-08-29 12:44] groeges commented on #56
This should now be using a Redhat UBI image

[2019-08-29 12:45] #56 closed, assigned to kilnerm

[2019-08-29 12:45] groeges commented on #54
This should now be running on a Redhat UBI image

[2019-08-29 12:45] #54 closed, assigned to kilnerm

[2019-08-29 13:07] marikaj123 commented on #45
Would the issue be able to complete by Sept-3?

[2019-08-29 15:28] gireeshpunathil commented on #45
@marikaj123 - we have a late-breaking revelation that pointed to a bug in the buildah container, and is able to successfully test with a stable version, locally. Once a full-blown OKD test passes, we should be good.

So yes!

[2019-08-30 09:25] kilnerm opened #61 "Move java-microprofile onto ubi8 base"
We are seeing issues building java-microprofile when using the current ubi7 based images.

This sissue is open to track the work to move the stack over to ubi8.

[2019-08-30 09:26] kilnerm commented on #3
The java-spring-boot2 collection has passed Redhat certification.

Moving to complete.

[2019-08-30 09:26] #3 closed, assigned to ianpartridge

[2019-08-30 09:28] kilnerm commented on #4
I believe all outstanding items are complete.

The collection image had passed Redhat certification.

Moving to closed.

[2019-08-30 09:28] #4 closed, assigned to ianpartridge

[2019-08-30 09:30] kilnerm commented on #38
The collection has passed Redhat certification.

Moving to closed.

[2019-08-30 09:30] #38 closed, assigned to ianpartridge

[2019-08-30 11:42] kilnerm commented on #61
Without this change we suspect that issues will be experienced when building the production docker images withing a tekton pipeline.

To do this I am going to need to create an interim container that is a ubi8/open-jdk/open-liberty base that I can use as a starting point for the production Docker image.

Longer term this temporary image should be pushed back into the open-liberty project.

[2019-08-30 18:15] kvijai82 commented on #23
I think the updated read me of the kabanero-pipelines touches on this.

@bschrammIBM would you please be able to make a doc out of this.  Please let me know if I should break things up differently to make it easier to follow.

[2019-08-30 18:16] kvijai82 commented on #23
https://github.com/kabanero-io/kabanero-pipelines/blob/master/README.md

[2019-08-30 18:31] dacleyra opened #62 "java-mp stack missing mpHealth enable, failing health probe"
The java microprofile default stack is missing mpHealth enablement, thereby causing the pod to fail start when deployed as an `AppsodyApplication` with `createKnativeService: true`

[2019-09-02 08:13] groeges commented on #60
Latest PR from @jgawor has been reviewed and merged into the collections repo.
This should allow the collection images, as well as the nginx image to be built and deployed to OpenShift using the provided Tekton pipeline.

[2019-09-02 08:14] groeges commented on #60
Need someone with OpenShift / OKD to fully test this to ensure all is working correctly.

[2019-09-02 08:20] groeges commented on #61
@kilnerm Having the java-microprofile collection using the ubi7 images doesn't  seem to be an issue with the latest Tekton pipeline that has been produced. This is not a high priority issue.

[2019-09-03 16:11] Jhschube commented on #25
The docs are now merged

[2019-09-03 16:11] #25 closed, assigned to Jhschube

[2019-09-03 18:19] kilnerm commented on #62
@dacleyra I have been able to start and deploy the microprofile collection without the knative setting and I can see the health endpoint fine. Can you share the logs from your knative deployment that show mpHealth not starting?

I am presently unable to deploy using knative on the latest appsody code to try to recreate this issue. (But am working on getting this resolved.)

[2019-09-03 20:02] seabaylea commented on #62
If this is only failing for Knative serving, it’s more likely the issue is in the appsody-operator. @arthurdm can you take a look?

[2019-09-03 20:30] arturdzm commented on #62
I think it might have been older version of Appsody CLI or the stack, I tried 0.4.1 and mpHealth is there

[2019-09-04 06:30] kilnerm commented on #62
@dacleyra, could you verify you see this resolved with the latest collections / appsody cli and if so close the issue please?

Thanks.

[2019-09-04 10:47] kvijai82 commented on #62
We spent some time chasing this with a bunch of folks last night and it turned out that image the the pipeline was building using Kaniko had some bugs which caused it point to the wrong server.xml which did not have the right features.  We hacked a workaround to test it and got it to work in knative serving.

Opened this issue to see if we can make a change in the Dockerfile in the MP stack tempor

[2019-09-04 12:51] ianpartridge commented on #62
Fixed under https://github.com/kabanero-io/collections/pull/57

[2019-09-04 12:51] #62 closed, assigned to seabaylea, kilnerm

[2019-09-05 14:58] groeges commented on #49
Done

[2019-09-05 14:58] #49 closed, assigned to ianpartridge, groeges

[2019-09-05 14:59] groeges commented on #41
Done

[2019-09-05 14:59] #41 closed, assigned to ianpartridge

[2019-09-05 15:15] groeges commented on #45
All the work for this should now have been delivered and merged into the respective projects,
appsody/appsody-buildah . and appsody/appsdoy.
Other parts of Kabanero,ie pipelines etc, need to pickup this work and use it.

[2019-09-05 15:24] groeges commented on #6
This collection has passed Redhat certification.

Moving to complete.

[2019-09-05 15:24] #6 closed, assigned to ianpartridge

[2019-09-05 15:33] groeges commented on #51
Basic README on how to build the collections completed

[2019-09-05 15:33] #51 closed, assigned to ralanlittle, groeges

[2019-09-05 15:34] groeges commented on #50
All items competed. We need final certification once we generate the final release but all certification of all previous images were OK.

[2019-09-05 19:40] jgawor commented on #13
I created a readme file for using Tekton to build the collections: https://github.com/kabanero-io/collections/tree/master/ci/tekton. This could be expanded a bit I think.

[2019-09-06 09:36] groeges commented on #60
@marikaj123 Do you know whether the PR from @jgawor has been tested by anyone yet.
We can close this issue as being delivered, but I don't want to do that until I know that what has been provided resolves the original issue.

[2019-09-06 09:43] groeges commented on #45
Reopening as there still seem to be issue with the usage of this.
@gireeshpunathil Please can you use this issue to track the work you and Vijai are doing to get the pipelines working.

[2019-09-06 09:52] gireeshpunathil commented on #45
issue 1.

stacks whose Dockerfile  defines less privileged users as the owner of the container: extraction fails in CRI-O deployments with:

[code]

this is because the mount point `/ex` is owned by privileged user who started the parent container, and the less privileged user does not have write permission into it.

`chmod -R 666 /ex` prior to the mount does not seem to work it around.

So we go

[2019-09-06 13:18] bconey commented on #60
Testing has been done to verify a collection repo could be successfully created with GitHub Enterprise (GHE).

[2019-09-06 14:36] marikaj123 commented on #60
@jgawor and @bconey - can the issue be closed?

[2019-09-06 14:48] kilnerm commented on #50
Our latest collection docker images all pass RedHat certification so we should be good to close this once we cut the final branch of 0.1.2.

[2019-09-06 15:06] bconey commented on #60
@marikaj123 Yes, the issue can be closed.

[2019-09-06 15:19] marikaj123 commented on #60
@groeges - you have the green light to close it.

[2019-09-06 19:26] jgawor commented on #60
Closing as testing of this change was done.

[2019-09-06 19:26] #60 closed, assigned to jgawor, ebullient, ianpartridge

[2019-09-08 01:33] gireeshpunathil commented on #45
resolved through https://github.com/appsody/appsody/pull/283 and https://github.com/appsody/appsody-buildah/pull/7

Closing.

[2019-09-08 01:33] #45 closed, assigned to pushkarnk, gireeshpunathil

[2019-09-08 05:40] groeges commented on #13
README.md for Collections has been updated to add additional steps.

[2019-09-08 05:41] groeges commented on #50
All docker images pass RedHat certification.

[2019-09-08 05:41] #50 closed, assigned to ianpartridge

[2019-09-10 12:38] groeges commented on #35
Delivered in Kabanero Collections v0.1.2

[2019-09-10 12:38] #35 closed, assigned to ianpartridge

[2019-09-10 12:38] groeges commented on #36
Delivered in Kabanero Collections v0.1.2

[2019-09-10 12:38] #36 closed, assigned to ianpartridge

[2019-09-10 12:39] groeges commented on #34
Delivered in Kabanero Collections v0.1.2

[2019-09-10 12:39] #34 closed, assigned to ianpartridge

[2019-09-10 12:39] groeges commented on #61
Delivered in Kabanero Collections v0.1.2

[2019-09-10 12:39] #61 closed, assigned to kilnerm

[2019-09-10 12:47] #44 closed, assigned to dacleyra

[2019-09-10 12:47] groeges commented on #44
Issue moved to [kabanero-io/kabanero-pipelines #57](https://github.com/kabanero-io/kabanero-pipelines/issues/57) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-10 15:17] groeges commented on #30
Pull Request: https://github.com/kabanero-io/collections/pull/79 adds a repo-structure.md file that describes the directory structure of the Kabanero Collections github repository along with a description of some of the files contained within the repository. A link has been added to the README.md to point to this new file.

[2019-09-10 18:04] stephenkinder commented on #59
@kaczyns @groeges can this be closed?  Seems like it can be.

[2019-09-10 20:57] #59 closed, assigned to kvijai82, groeges

[2019-09-11 08:17] #30 closed, assigned to ianpartridge, groeges

[2019-09-11 08:20] groeges commented on #13
@marikaj123 Did we get any decision on what additional docs were needed for this.
The README.md has been updated and also a section of the Collection repository structure has also been added. What else is required before we can close off this item?

[2019-09-11 12:43] dianak2016 opened #63 "Deliver the Collection for JBoss/Wildfly"

[2019-09-13 21:01] groeges commented on #13
All work for release 0.1 completed.

[2019-09-13 21:01] #13 closed, assigned to ianpartridge

[2019-09-16 15:37] marikaj123 commented on #23
According to Vijai, this Epic needs to be moved to the docs repo.

[2019-09-23 20:44] dianak2016 opened #64 "Support Che on Kube with Appsody"
Kabanero would like to offer Che as a first-class deployment, managed by the Kabanero operator.  The Kabanero operator today can install Che, and the consumer can configure Che workspaces as desired.  From a Kabanero strategic point of view, it is important that the Che support includes an Appsody development experience -- at the moment, it is understood by the Kabanero team that while Che can eff

[2019-09-24 13:55] #64 closed, assigned to sympatheticmoose

[2019-09-24 13:55] stephenkinder commented on #64
Issue moved to [kabanero-io/kabanero-foundation #83](https://github.com/kabanero-io/kabanero-foundation/issues/83) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-25 15:35] ebullient opened #65 "Kabanero Spring Stack must be based on snowdrop (deviation from appsody)"
The Spring stack for Kabanero will be different than the stack used by appsody (to be compatible with RHR support): it must use library versions specified by RHOAR / RHR via the snowdrop bom.

https://search.maven.org/artifact/org.springframework.boot/spring-boot-dependencies/2.1.6.RELEASE/pom

https://repo1.maven.org/maven2/me/snowdrop/spring-boot-bom/2.1.6.Final/spring-boot-bom-2.1.6.Final.pom